@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutBaoCao.cshtml";
}

<body>
    <div class="container-index">
        <h2>HỆ THỐNG QUẢN LÝ TRUNG TÂM ANH NGỮ</h2>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <a class="navbar-brand" href="~/QLAN/TrangChu">Trang chủ</a>
                        <li class="nav-item">
                            <a class="nav-link" href="~/QLAN/Lop">Quản lý lớp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/QLAN/DangKy">Quản lý đăng ký</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/QLAN/HocVien">Quản lý học viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/QLAN/Diem">Quản lý điểm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/QLAN/GiangVien">Quản lý giảng viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/QLAN/LichGiangDay">Xem lịch giảng dạy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/QLAN/DiemDanh">Điểm danh</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="~/QLAN/BaoCao">Thống kê báo cáo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <br>

        <div class="d-flex">
            <div class="d-none d-lg-block col-lg-12">
                <div class="form-inline">
                    <div class="search-container">
                        <input class="form-control mr-sm-2" id="myInput" type="search" placeholder="Tìm kiếm học viên"
                               aria-label="Search">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <br>
    </header>

    <div class="container-fluid">
        <h2>Danh sách học viên</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Mã số học viên</th>
                        <th>Họ và Tên</th>
                        <th>Giới tính</th>
                        <th>Email</th>
                        <th>Lớp</th>
                        <th>Điểm lần 1</th>
                        <th>Điểm lần 2</th>
                        <th>Điểm lần 3</th>
                        <th>Điểm trung bình</th>
                        <th>Số lần vắng</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var item in ViewBag.HocVienDiemLop)
                    {
                        <tr>
                            <td>@item.hocVien.MaSoHocVien</td>
                            <td>@item.hocVien.TenHocVien</td>
                            <td>@item.hocVien.GioiTinh</td>
                            <td>@item.hocVien.Email</td>
                            <td>@item.lop.TenLop</td>
                            <td>@item.diem.DiemLan1</td>
                            <td>@item.diem.DiemLan2</td>
                            <td>@item.diem.DiemLan3</td>
                            <td>@item.diem.DiemTrungBinh</td>
                            <td>1</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    var rows = $(this).find('td');
                    var search_strings = '';
                    $.each(rows, function (index, td) {
                        if (index == 0 || index == 1 || index == 3 || index == 4) {
                            search_strings += $(td).text();
                        }
                    });
                    $(this).toggle(search_strings.toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

</body>